In [6]:
# Expected Output:
# Sum of first 3 positives: 12

nums = [-1, 2, -5, 3, 7, -2, 4]
count = 0
total = 0

for n in nums:
    if n > 0:
      total += n
      count += 1
    if count == 3:
      break

print("Sum of first 3 positives:", total)

Sum of first 3 positives: 12

In [10]:
# find the highest scoring player
# Expected Output:
# Winner: Cara
players = [("Alice", 15), ("Bob", 10), ("Cara", 20), ("Dan", 9)]
winner = None
best = -1

for name, score in players:
    if score > best:
        best = score
        winner = name

print("Winner:", winner)

Winner: Cara

In [61]:
# Expected Output:
# First positive multiple of 7: 7
nums = [-14, -7, 0, 7, 14, 21, 28]
first = None
for n in nums:
    if n > 0 and n % 7 == 0:
      first = n
      break

if first is None:
    print("None found")
else:
    print("First positive multiple of 7:", first)

First positive multiple of 7: 7

In [33]:
# Expected Output:
# mean=3.0 min=1 max=5

def stats(nums):
    mn = min(nums)
    mx = max(nums)
    avg = sum(nums)/len(nums)
    return mn, mx, avg

mn, mx, avg = stats([1,2,3,4,5])
print(f"mean={avg} min={mn} max={mx}")

mean=3.0 min=1 max=5

In [36]:
# Expected Output: Random array of shape (2,3)
import numpy
a = numpy.random.rand(2,3)
print(a)

[[0.96700471 0.89526976 0.79445037]
 [0.53081288 0.98516318 0.03707816]]

In [41]:
# Expected Output: sqrt(16) = 4.0
import numpy as np
import math
print("sqrt(16) =", math.sqrt(16))

sqrt(16) = 4.0

In [42]:
# Expected Output: 0.7071067811865476

import math
import numpy
print(math.sin(math.pi / 4))

0.7071067811865475

In [43]:
# Expected Output: Mean = 3.0
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
mean = np.sum(arr) / np.size(arr)
print("Mean =", mean)

Mean = 3.0

In [47]:
# Expected Output:
# Aye 25
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p = Person("Aye", 25)
print(p.name, p.age)

Aye 25

In [55]:
# Expected Output:
# 50000
class Employee:
    def __init__(self, salary):
        self.salary = salary

    def get_salary(self):
        return self.salary

e = Employee(50000)
print(e.salary)

50000

In [66]:
# Expected Output:
# Brand: Toyota, Engine: 2000
class Vehicle:
    def __init__(self, brand):
        self.brand = brand

class Car(Vehicle):
    def __init__(self, brand, engine):
        self.brand = brand
        self.engine = engine

c = Car("Toyota", 2000)
print(f"Brand: {c.brand}, Engine: {c.engine}")

Brand: Toyota, Engine: 2000

In [76]:
# Expected Output:
# Area: 12.56
import math

class Shape:
    def area(self):
        pass

class Circle(Shape):
    def area(self,radius):
        return math.pi * radius ** 2

c = Circle()
print("Area:", c.area(2))

Area: 12.566370614359172